@import "~antd/dist/antd.css";
:root {
  --navbar-height: 47px;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.site-layout-content {
  padding: 24px;
  min-height: 280px;
}

.header-fixed {
  position: fixed; /* Set the navbar to fixed position */
  width: 100%;
  z-index: 1;
}

.header-menu {
  display: flex;
  justify-content: center;
}
.layout-content-main {
  padding-top: calc(var(--navbar-height) + 10px);
}

.dark-mode-switch {
  margin: 15px;
}

.article {
  padding: 5px;
  min-width: 100%;
}

.article--card {
  height: 100%;
}

.page-selector {
  align-content: center;
}
.news--header {
  padding: 5px;
  text-align: center;
  min-width: 100%;
}

.loading-content {
  font-size: xx-large;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
}

.loading-text {
  position: relative;
  left: -50%;
  top: -50%;
  text-align: center;
}

.page-selector {
  display: table;
  margin: 0 auto;
}

.layout {
  min-height: 100vh;
}
@media only screen and (min-width: 768px) {
  .layout-content-main {
    padding: calc(var(--navbar-height) + 20px) 50px 0 50px;
  }

  .dark-mode-switch {
    float: right;
  }
  .article {
    min-width: 1vw;
  }

  .news--header {
    min-width: 50%;
  }

  /* Transition is just for desktop*/
  .fade-enter {
    opacity: 0;
    transform: translateX(100vw);
  }
  .fade-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms;
  }
  .fade-exit {
    transform: translateX(0);
    opacity: 1;
  }
  .fade-exit-active {
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 500ms;
  }

  .transition-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
