:root{
  --dark-bg: #222222;
  --dark-fg: #333333;
  --dark-border: #444444;
  --dark-text: #eeeeee;
  --dark-heading: #ffffff;
  --dark-shadow: #777777;
  --primary-color: #1890ff;
}
.dark *,
.dark .ant-menu-item a,
.dark div {
  color: var(--dark-text);
  border-color: var(--dark-border);
}
.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: var(--dark-heading);
}

.dark main,
.dark .ant-layout-footer {
  background-color: var(--dark-bg);
}
.dark .site-layout-content,
.dark .article--card,
.dark .ant-pagination-item,
.dark .ant-pagination a,
.dark .ant-input,
.dark .ant-menu,
.ant-menu-dark .ant-menu {
  background-color: var(--dark-fg);
  border-color: var(--dark-border);
  color: var(--dark-text);
}

.dark .ant-menu {
  border-bottom: 1px solid var(--dark-border);
}
.dark .article--card:hover {
  box-shadow: 0 3px 10px var(--dark-shadow);
}
.dark .ant-pagination .ant-pagination-item-ellipsis {
  color: var(--dark-text);
}
.dark .ant-pagination-item-active {
  border-color: var(--primary-color);
}

.dark .home-main-bg-to-dark {
    background-color: var(--dark-bg);
}